@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: gnuolane rg;
	src:url(font/gnuolane%20rg.ttf);
}
@font-face {
	font-family:calibri-bold;
	src:url(font/calibrib.ttf);
}

.menu-nev {
	background-image:url(pix/header-3.png);
	background-position:center;
	color:#FFFFFF;
	min-width:1240px;
	min-height:600px;
	background-repeat:no-repeat;
	margin-bottom:0px;
	
}
 
 .listsmenu {
	 position:relative;
     left: -300px;
     top: 25px;
	 display:inline-block;
	 border:#000000;
	 margin:auto 15px;
	 font-size:30px;
	 padding-right:30px;
	 border-right:#FFFFFF thin solid;
	 font-family:gnuolane rg;
 }
 
a:link, a:visited {
    		color: white;
    		text-align: center;	
    		text-decoration: none;
	}
	a:hover, a:active {
		display:block;
		padding:0 px;
    	color:white;
		font-style:italic;
	}
 .listsmenu:last-child {
	 border-right:none;
	 padding-right:0px;
 }
 .text {
	 background-image:url(pix/text1-4.png);
	 margin:0px;
	 background-repeat:no-repeat;
	 background-position:center;
	 width:1240px;
	 height:400px;
 }
 .text1{
	 margin-bottom:0px;
	 display:inline-block;
	 width:100%;
	 height:250px;
 }
 .text1list {
	 display:inline-block;
	 font-family:Calibri-bold;
	 font-size:30px;
	 margin-top:250px ;
	 color:#ffa619;
 }
.text1list:first-child {
	margin-left:-80px;
	margin-right:60px;
}
.text1list:nth-child(2) {
	margin-left:0px;
	margin-right:0px;
}
.text1list:last-child {
	margin-left:60px;
}
.text2{
	margin::0px 0px;
	padding:0px 0px;
	position:relative;
}

.text2list {
	 display:inline-block;
	 font-family:Calibri-bold;
	 font-size:18px;
	 color:#ffa619;
	 position:absolute;
}
.text2list:first-child{
	left:45px;
	top:0px;
	width:380px;
}
.text2list:nth-child(2){
	left:445px;
	width:350px;
	margin-top:0px;
}
.text2list:last-child{
	left:825px;
	width:350px;
	margin-top:0px;
}